{:deps     {:aliases [:dev]}
 :dev-http {4828 "classpath:public"}
 :builds   {:app {:target     :browser
                  :output-dir "resources/public/out"
                  :asset-path "/out"
                  :modules    {:main {:entries [capy.bara]}}}}}
